# Visual Studio
.vs/
*.vcxproj.user
*.VC.db
*.VC.VC.opendb

# Build directories
x64/
Debug/
Release/
*.log

# Kompilowane pliki binarne
*.obj
*.pdb
*.exe
*.ilk
*.ipch
*.tlog

# Pliki tymczasowe i cache
*.tmp
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates

# C++
*.o
*.gch

# CMake (jeśli używane)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Systemowe
.DS_Store
Thumbs.db

# Git
*.orig
